.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0;
}

.row > .column {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}